<% layout('/layouts/homeBoilerPlate') %>
<div id="container">
  <div
    style="
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <spline-viewer
      url="https://prod.spline.design/nnd8cWfoee41iJ91/scene.splinecode"
    ></spline-viewer>
  </div>
</div>
<div id="text-box">
  <div class="text">
    <h1>Welcome to <span class="autotype"></span></h1>
  </div>
  <p>Your space to write, read, and inspire</p>
  <div class="btns">
    <div>
      <a href="/login"><button class="btn btn-primary">Login</button></a>
    </div>
    <div>
      <a href="/signup"><button class="btn btn-secondary">Sign up</button></a>
    </div>
  </div>
</div>